body  

    h1 {text-align: center;
    
    }
    background: #CCCCCC

    h2 {border: #FF0000;

    }
#barber {width: 100%; height: 400px;

}

p {
    text-align: justify;
}

em strong {
    color: #FF0000;
}