body  

    h1 {text-align: center;
    
    }
    background: #CCCCCC
    
    
        h2 {border: #FF0000;

        }


#barber {width: 100%; height: 350px;

}

em strong {
    color: #FF0000;
}